*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body,
html,
#root{
    width:100%;
    min-height:100%;
    background:#000;
}

.notification-container{
    width:100%;
    min-height:100vh;
    background:#00000000;
    color:#fff;
    padding:20px;
}

.notification-header h2{
    font-size:2rem;
    font-weight:600;
    color:#ffffff;
    margin-bottom:25px;
}

/* FILTER BUTTONS */

.notification-filter{
    display:flex;
    gap:12px;
    overflow-x:auto;
    margin-left: 13px;
    margin-bottom:25px;
    scrollbar-width:none;
}

.notification-filter::-webkit-scrollbar{
    display:none;
}

.notification-filter button{
    border:none;
    outline:none;
    background:#1f1f1f;
    color:#d4d4d4;
    padding:10px 22px;
    border-radius:22px;
    font-size:14px;
    cursor:pointer;
    transition:0.2s ease;
    white-space:nowrap;
}

.notification-filter button:hover{
    background:#2a2a2a;
}

.notification-filter .active{
    background:#103529;
    color:#25D366;
}

/* NOTIFICATION CARD */

.notificationss-card{
    width:100%;
    display:flex;
    align-items:center;
    gap:15px;
    background:black;
    border-radius:18px;
    padding:16px;
    margin-bottom:12px;
    cursor:pointer;
    transition:0.25s ease;
}

.notification-cardss:hover{
    background-color: transparent !important;
}

/* ICON */

.notification-avatar{
    width:50px;
    height:50px;
    min-width:50px; /* prevents shrinking */
    border-radius:50%;
    overflow:hidden;
    flex-shrink:0;
}
.notification-avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}
/* DETAILS */

.notification-details{
    flex:1;
    min-width:0;
}

.notification-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1px;
}

.notification-top h4{
    color:#ffffff;
    font-size:17px;
    font-weight:600;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.notification-time{
    color:#8a8a8a;
    font-size:12px;
    flex-shrink:0;
}

.notification-message{
    color:#b5b5b5;
    font-size:14px;
    margin-top:0px;
}

/* UNREAD INDICATOR */

.notification-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:0px;
}

.unread-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#25D366;
    flex-shrink:0;
}

/* MOBILE */

@media(max-width:768px){

    .notification-container{
        padding:15px;
    }

    .notification-header h2{
        font-size:1.5rem;
    }

    .notification-avatar{
       width:48px;
        height:48px;
        min-width:48px;
    }

    .notification-top h4{
        font-size:15px;
    }

    .notification-message{
        font-size:13px;
    }

    .notification-filter button{
        padding:9px 18px;
        font-size:13px;
    }
}

@media(max-width:480px){

    .notification-container{
        padding:12px;
    }

    .notificationss-card{
        padding:14px;
        border-radius:15px;
    }

    .notification-avatar{
        width:45px;
        height:45px;
        min-width:45px;
    }

    .notification-top{
        flex-direction:column;
        align-items:flex-start;
        gap:1px;
    }

    .notification-time{
        font-size:11px;
    }

    .notification-message{
        font-size:12px;
    }
}